{# limeMpdf plugin : the footer of the pdf file #}
<div class="row footer">
    <div class="col-sm-4 text-muted">{{ processString("{date('"~aLangageData.dateformats.phpdate~" H:i')}") }}</div>
    <div class="col-sm-4 text-muted text-center">&nbsp;</div>
    <div class="col-sm-4 text-muted text-right">{{ gT("page") }} {PAGENO}/{nbpg}</div>
</div>
